fastapi
uvicorn[standard]
passlib
pydantic[email]
pydantic-settings
pytest
pytest-fastapi
httpx
SQLAlchemy
psycopg2-binary
locust
gunicorn
prometheus_client
python-jose
python-logstash
cryptography
scikit-learn
pandas
